@use '../../../base/colors';

.add-button {
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
    padding: 0 10px;
    background-color: colors.$success-color;
    color: colors.$text-light-color;
    border-radius: 5px;

    &:hover{
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    }
}