@use '../../../base/colors';

.sub-nav {
    &-wrapper {
        filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.5));
    }

    height: 25px;
    position: absolute;
    display: flex;
    align-items: center;
    column-gap: 35px;
    // top: 70px;
    right: 0;
    padding: 0 calc(140px + 2.5%) 0 50px;
    background: colors.$background-secondary-color;
    clip-path: polygon(0 0, 100% 1%, 100% 100%, 25px 100%);
    // box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    z-index: 100;

    a {
        height: 15px;
        color: colors.$text-light-color;
    }

    .social-icons {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    animation-name: sub-nav;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

    @keyframes sub-nav {
        0% {
            margin-top: -25px;
        }
        100% {
            margin-top: -0px;
        }
    }
}
