@use '../../../base/colors';

.title-bar{
    width: calc(100% + 70px);
    height: 50px;
    margin-top: 70px;
    margin-left: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 17PX;
    background-color: colors.$background-section-color;
    text-transform: uppercase;
}