@use '../../../base/colors';

.events-container {
    min-height: calc(100vh - 70px - 163px - 98.8px);
    padding: 5% 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    // background-image: linear-gradient(#888888, #18212a);
    background-image: radial-gradient(#d2d2d2, #4f6173);

    article {
        height: 300px;
        padding: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: colors.$text-light-color;
        border-radius: 10px;

        h2 {
            margin: 0;
            font-weight: 400;
            color: colors.$text-light-color;
        }
        a {
            color: colors.$alternate-color;
        }
    }

    article:nth-child(1) {
        background-color: colors.$background-alternate-1-color;
    }

    article:nth-child(2) {
        background-color: colors.$background-alternate-2-color;
    }
}

.events-list-container {
    min-height: calc(100vh - 70px - 163px - 98.8px);
    padding: 0% 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

    &-title {
        padding: 0 10%;
    }

    .event-item {
        .datetime {
            width: auto;
            padding: 5px 10px;
            position: absolute;
            background-color: colors.$background-secondary-color;
            color: colors.$text-light-color;
        }
        .head {
            background-color: colors.$background-dark-color;
            text-align: center;
            &:hover {
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
            }
            .title {
                padding: 10px 15px;
                color: colors.$text-light-color;
            }
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .events-list-container {
        padding: 0 5%;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;

        &-title {
            padding: 0 5%;
            text-align: center;
        }
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .events-container {
        padding: 10%;
        grid-template-columns: auto;
        grid-template-rows: auto auto;

        article {
            border-radius: 5px;
        }
    }
    .events-list-container {
        padding: 0 5%;
        grid-template-columns: auto;
        gap: 50px;

        &-title {
            padding: 0 5%;
            text-align: center;
        }
    }
}
