@use '../../../base/colors';

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 10px 70px;
    background-color: colors.$background-dark-color;
    color: colors.$text-light-color;

    div {
        padding: 10px;
        text-align: center;
    }

    :nth-child(1) {
        text-align: left;

        a,
        span {
            display: flex;
            align-items: center;
            margin: 5px;
            color: colors.$text-light-color;
        }

        svg {
            width: 50px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .footer {
        flex-direction: column-reverse;
        grid-template-columns: 100%;
        padding: 10px 10px;

        :nth-child(1) {
            grid-row: 3;
            svg {
                width: 30px;
            }
        }

        :nth-child(3) {
            grid-row: 2;
            a {
                svg {
                    width: 30px;
                    margin: 0 5px;
                }
            }
        }
    }
}
