@use '../../../base/colors';

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 15px 5%;
    background-color: colors.$background-dark-color;
    color: colors.$text-light-color;

    .contact {
        text-align: left;

        a,
        div {
            display: flex;
            align-items: center;
            margin: 5px;
            gap: 5px;
            color: colors.$text-light-color;
        }

        svg {
            width: 50px;
        }
    }

    .copyright {
        padding: 10px;
        text-align: center;
    }

    .social {
        padding-right: 10px;
        text-align: right;
    }
}

@media only screen and (max-width: 600px) {
    .footer {
        flex-direction: column-reverse;
        grid-template-columns: 100%;
        padding: 5% 5%;

        .contact {
            grid-row: 3;
            svg {
                width: 30px;
            }
            div {
                display: flex;
                justify-content: space-between;

                span {
                    display: flex;
                }
            }
        }

        .social {
            padding: 2.5% 0;
            text-align: center;
        }
    }
}
