@use '../../../base/colors';

.nav {
    font-variant-caps: all-small-caps;
    font-size: 20px;
    font-weight: 600;
    background-color: colors.$background-main-color;
    position: fixed;
    display: flex;
    // position: relative;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 100;
    width: 100%;
    height: 70px;
    padding: 0 150px;
    top: 0;
}

.nav a:not(:first-child) {
    display: flex;
    align-items: center;
    height: 70px;
    color: colors.$text-light-color;
    padding: 0 2.5%;
    transition: background-color 0.2s, color 0.2s;
    transition-timing-function: ease-in-out;
}

.nav a:first-child {
    position: absolute;
    top: 10px;
    left: 150px;
    z-index: 100;
}

.nav a:first-child img {
    background-color: white;
    border: solid colors.$background-main-color 5px;
    border-radius: 50%;
    width: 100px;
    transition: transform 0.1s, box-shadow 0.1s;
    transition-timing-function: ease-in-out;
    box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.5);
}

.nav a:hover:first-child img {
    transform: scale(1.05);
}

.nav a:hover:not(:first-child):not(:last-child) {
    background-color: white;
    color: black;
}

.nav a.active {
    // border-top: solid white 5px;
    background-color: rgba(255, 255, 255, 0.25);
}

.nav a.icon {
    display: none;
    width: 0;
}

@media screen and (max-width: 600px) {
    .nav{
        padding: 0;
        transition: height 0.25s ease;
    }
    .nav a:first-child {
        top: 0;
        left: 0;
    }
    .nav a:not(:first-child) {
        display: none;
    }
    .nav a.icon {
        width: 50px;
        float: right;
        display: flex;
        align-items: center;
        color: white;
    }
    .nav a.icon .icon-menu::before {
        content: '\2630';
        display: inline-block;
        font: normal normal normal 14px/1 'Open Sans';
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-weight: bolder;
        color: white;
        transition: content 0.25s ease-out;
    }
    .nav a:first-child img {
        margin: 10px;
        // padding: 5px;
        width: 50px;
        border: none;
        box-shadow: 0 0 5px -5px rgba(255, 255, 255, 0.5);
    }
}

@media screen and (max-width: 600px) {
    .nav.responsive {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        padding-top: 70px;
        width: 100%;
        height: 100%;
    }
    .nav.responsive .icon {
        position: absolute;
        width: 50px;
        right: 0;
        top: 0;
    }
    .nav.responsive a {
        width: 100%;
        float: none;
        display: flex;
        align-items: center;
        text-align: left;
    }
    .nav.responsive a:first-child {
        width: 50px;
    }
    .nav a.active {
        /* background-color: #b79b54;
        color: white;
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white;
        text-emphasis-color: #A64253; */
    }
    .nav.responsive a.icon .icon-menu::before {
        // content: '\2715';
        // color: white;
        content: url('/images/icons/close.svg');
    }
}