@use '../../../base/colors';

.directors-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    text-align: center;
    padding-bottom: 40px;

    h3 {
        color: colors.$text-highlight-color;

        &::after {
            content: "";
            display: block;
            width: 80px;
            height: 5px;
            background-color: #e4c3ad;
            margin: auto;
        }
    }
    img {
        max-width: 200px;
        min-width: 200px;
        min-height: 200px;
        border: solid 5px colors.$border-color;
        background-color: colors.$background-alternate-color;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    b {
        display: block;
        margin-top: 10px;
        font-style: italic;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
    }
    a {
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        text-decoration-line: underline;
        color: colors.$primary-color;
    }
    ol {
        text-align: justify;
        padding-left: 20px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .directors-list {
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
        gap: 0;

        img {
            max-width: 200px;
            min-width: 200px;
            min-height: 200px;
        }
    }
}
