@use '../../../base/colors';

.secretaries-list {
    margin-bottom: 30px;
    text-align: justify;

    .collapsible {
        width: 100%;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        background-color: colors.$background-section-color;
        cursor: pointer;
        border: none;
        outline: none;
        border-radius: 5px;

        &:after {
            // content: "\002B";
            content: url("/images/us/chevron_duo_right.svg");
            color: white;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

        h4 {
            margin: 0;
            font-weight: bold;
            color: colors.$text-highlight-color;
        }
    }

    .active,
    .collapsible:hover {
        background-color: colors.$background-section-color;
    }

    .active:after {
        // content: "\2212";
        content: url("/images/us/chevron_duo_down.svg");
    }

    .content {
        display: flex;
        // padding: ;
        max-height: 0;
        padding: 0 18px;
        margin-bottom: 10px;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        // background-color: #f1f1f1;

        .left-content {
            margin-right: 45px;

            .members {
                display: flex;
                p {
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    margin-right: 30px;

                    a {
                        font-weight: bold;
                        font-size: 12px;
                        line-height: 16px;
                        text-decoration-line: underline;
                        color: colors.$primary-color;
                    }
                }
            }
            // article:not(.members) > p {
            //     text-indent: 25px;
            // }
        }

        .photos {
            gap: 10px;
            padding: 15px 0;
        }

        img {
            max-width: 200px;
            min-width: 200px;
            min-height: 200px;
            border: solid 5px colors.$border-color;
            background-color: colors.$background-alternate-color;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

            &:last-child {
                margin-top: 15px;
            }
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .secretaries-list {
        .collapsible {
            h4 {
                text-align: left;
            }
        }
        .content {
            display: grid;

            .left-content {
                margin-right: 0px;

                .members {
                    display: block;
                    p {
                        margin-right: 0px;
                    }
                }
            }

            .photos {
                grid-row: 1;
                display: flex;
                justify-content: space-around;
                text-align: center;
            }

            img {
                max-width: 136px;
                min-width: 136px;
                min-height: 136px;

                &:last-child{
                    margin-top: 0;
                }
            }
        }
    }
}
