@use '../../../base/colors';

.us-container.us-container-organization {
    margin: 0;
    background-image: linear-gradient(#888888, #18212a);
    background-image: radial-gradient(#888888, #18212a);
}

.organization-container {
    min-height: calc(100vh - 70px - 163px - 98.8px - 65px);
    padding: 5% 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;

    article {
        padding: 5%;
        border-radius: 10px;
        text-align: center;
        color: colors.$text-light-color;
        h2 {
            margin: 0;
            font-weight: 400;
            color: colors.$text-light-color;
        }
        a {
            color: colors.$alternate-color;
        }
    }

    article:nth-child(1) {
        grid-column: auto / span 2;
        background-color: colors.$background-alternate-1-color;
        display: grid;
        align-content: center;

        .collapsible {
            width: 100%;
            height: 70px;
            text-align: center;
            padding: 0 20px;
            background-color: colors.$background-alternate-1-color;
            cursor: pointer;
            border: none;
            outline: none;

            h2 {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &:before {
                height: 100%;
                display: flex;
                align-items: center;
                // content: "\002B";
                content: url("/images/us/chevron_duo_right.svg");
                color: white;
                font-weight: bold;
                float: right;
                margin-left: auto;
            }
        }

        .active:before {
            // content: "\2212";
            content: url("/images/us/chevron_duo_down.svg");
        }

        .content {
            max-height: 0;
            padding: 0 5%;
            text-align: left;
            transition: max-height 0.2s ease-out;
            overflow: hidden;

            .title {
                display: flex;
                align-items: center;
                h4 {
                    margin: 0 5px 2.5px 0;
                }
            }
        }
    }

    article:nth-child(2),
    article:nth-child(3) {
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    article:nth-child(2) {
        background-color: colors.$background-alternate-2-color;
    }

    article:nth-child(3) {
        background-color: colors.$background-alternate-3-color;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .organization-container {
        padding: 5%;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;

        article:nth-child(1) {
            min-height: 300px;
            grid-column: auto / span 1;
            display: grid;
            align-content: center;
        }

        article {
            border-radius: 5px;
        }
    }
}
